
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 90%;
  float: left;
  margin-left : 0 5%;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}

	.one.column,
	.one.columns,
	.two.columns,
	.three.columns,
	.four.columns,
	.five.columns,
	.six.columns,
	.seven.columns,
	.eight.columns,
	.nine.columns,
	.ten.columns,
	.eleven.columns,
	.twelve.columns{
		width: 100%; margin-left: 0;
	}
}


/* Larger than mobile */
@media (min-width: 480px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.one.column,
	.one.columns,
	.two.columns,
	.three.columns,
	.four.columns,
	.five.columns,
	.six.columns{
		width: 47%;
		margin: 0 1.5%;

	}

	.seven.columns,
	.eight.columns,
	.nine.columns,
	.ten.columns,
	.eleven.columns,
	.twelve.columns{
		width: 100%;
		margin-left: 0;
	}
}

/* Larger than tablet */
@media (min-width: 768px) {
	.container {
	  width: 80%; }
	.column,
	.columns {
	  margin-left: 3%; }
	.column:first-child,
	.columns:first-child {
	  margin-left: 0; }

	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 13.3333333333%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 30.6666666667%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 48%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }

	.one-third.column               { width: 30.6666666667%; }
	.two-thirds.column              { width: 65.3333333333%; }
}

/* Larger than desktop */
@media (min-width: 1024px) {

}

/* Larger than Desktop HD */
@media (min-width: 1280px) {

}
