@mixin beforeContent($width, $height, $top, $left){
	content: '';
	display: block;
	width: $width;
	height: $height;
	position: absolute;
	top: $top;
	left: $left;
	opacity: 1;
}

@mixin transition($seconds, $easing){
	transition: $seconds $easing;
	-ms-transition: $seconds $easing;
	-webkit-transition:  $seconds $easing;
	-moz-transition: $seconds $easing;
}
