/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a,
a:visited {
  color: inherit;
  text-decoration: none; }

a:hover {
  cursor: pointer; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: none; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
@keyframes circle {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes inner-circle {
  from {
    transform: rotate(0deg) translateX(-50%); }
  to {
    transform: rotate(-360deg) translateX(-50%); } }
body {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-family: 'Bebas Neue', Arial, sans-serif; }

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto; }

.clr {
  clear: both; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 20;
  font-size: 1.66rem;
  background: #000; }
  header img {
    height: 100%;
    margin-left: 30px; }
  header .menuButton {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/menuButton.jpg") no-repeat top center;
    height: 100%;
    width: 60px; }
  header ul.mainMenu {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0; }
    header ul.mainMenu a {
      display: inline-block; }
    header ul.mainMenu li {
      display: inline-block;
      position: relative;
      width: auto;
      height: 100%;
      line-height: 90px;
      margin: 0 10px; }
      header ul.mainMenu li.active {
        color: #f00; }
        header ul.mainMenu li.active:before {
          content: '';
          width: 10px;
          height: 10%;
          position: absolute;
          top: 20px;
          left: 48%;
          background: #f00;
          border-radius: 50%; }

body {
  background: url("../img/background.jpg") repeat;
  width: 100%;
  padding-bottom: 120px;
  transition: 1s linear;
  -ms-transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear; }
  body.audioVideo {
    background: url("../img/audioVideo_background.jpg");
    background-size: cover;
    background-position: top center;
    transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear; }
  body.eventAgency {
    background: url("../img/eventAgency_background.jpg");
    background-size: cover;
    background-position: top center;
    transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear; }
  body.eventFurnitures {
    background: url("../img/eventFurnitures_background.jpg");
    background-size: cover;
    background-position: top center;
    transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear; }
  body.heliumBaloons {
    background: url("../img/heliumBaloons_background.jpg");
    background-size: cover;
    background-position: top center;
    transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear; }
  body.integrationClub {
    background: url("../img/integrationClub_background.jpg");
    background-size: cover;
    background-position: top center;
    transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear; }

main {
  margin-top: 90px; }
  main .mainRing {
    width: 100%;
    position: relative;
    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    line-height: 1; }
    main .mainRing .subRing {
      position: absolute;
      width: 250px;
      height: 250px;
      background: #000;
      border-radius: 50%;
      font-size: 1.86rem;
      z-index: 10;
      transform: translateX(-50%); }
      main .mainRing .subRing.active {
        background: #f00; }
        main .mainRing .subRing.active h2 {
          margin-top: 30px;
          transition: 0.3s ease-in-out;
          -ms-transition: 0.3s ease-in-out;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out; }
      main .mainRing .subRing:hover {
        cursor: pointer; }
      main .mainRing .subRing h2 {
        padding: 40% 10%;
        margin-top: 0;
        font-size: 1em;
        transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out; }
        main .mainRing .subRing h2:before {
          background: none;
          opacity: 0;
          content: '';
          display: block;
          position: absolute; }
      main .mainRing .subRing#audioVideo {
        top: 3%;
        left: 27%; }
        main .mainRing .subRing#audioVideo.active h2:before {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50px;
          left: 38%;
          opacity: 1;
          transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          background: url("../img/audioVideo.jpg") no-repeat bottom center;
          background-size: contain; }
      main .mainRing .subRing#heliumBaloons {
        top: 3%;
        left: 73%; }
        main .mainRing .subRing#heliumBaloons.active h2:before {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50px;
          left: 38%;
          opacity: 1;
          transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          background: url("../img/heliumBaloons.jpg") no-repeat bottom center;
          background-size: contain; }
      main .mainRing .subRing#eventFurnitures {
        top: 42%;
        left: 87.5%; }
        main .mainRing .subRing#eventFurnitures.active h2:before {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50px;
          left: 38%;
          opacity: 1;
          transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          background: url("../img/eventFurnitures.jpg") no-repeat bottom center;
          background-size: contain; }
      main .mainRing .subRing#eventAgency {
        bottom: 0;
        left: 50%; }
        main .mainRing .subRing#eventAgency.active h2:before {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50px;
          left: 38%;
          opacity: 1;
          transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          background: url("../img/eventAgency.jpg") no-repeat bottom center;
          background-size: contain; }
      main .mainRing .subRing#integrationClub {
        top: 42%;
        left: 12.5%; }
        main .mainRing .subRing#integrationClub.active h2:before {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50px;
          left: 38%;
          opacity: 1;
          transition: 0.5s ease-in-out;
          -ms-transition: 0.5s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          background: url("../img/integrationClub.jpg") no-repeat bottom center;
          background-size: contain; }
    main .mainRing .subRing.active ~ .ringsExcerpt p, main .mainRing .subRing.active ~ .ringsExcerpt a {
      opacity: 1;
      transition: 0.5s linear;
      -ms-transition: 0.5s linear;
      -webkit-transition: 0.5s linear;
      -moz-transition: 0.5s linear; }
    main .mainRing .subRing ~ .ringsExcerpt {
      font-size: 1.33rem;
      position: absolute;
      z-index: 5;
      width: 75%;
      height: 75%;
      margin: 17% 12.5% 0;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.5); }
      main .mainRing .subRing ~ .ringsExcerpt p {
        height: 30%;
        width: 45%;
        margin: 25% 27.5%;
        opacity: 0;
        transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear; }
      main .mainRing .subRing ~ .ringsExcerpt a {
        background: #f00;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        display: block;
        line-height: 80px;
        opacity: 0;
        transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear; }

footer {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; }
  footer div[class^="footer"] {
    display: inline-block;
    vertical-align: middle; }
  footer .footerList {
    width: 65%;
    margin: 0; }
    footer .footerList ul {
      height: 100%; }
      footer .footerList ul li {
        list-style: none;
        display: inline-block;
        padding: 0 3%; }
  footer .footerExcerpt {
    width: 15%;
    padding: 0 1%;
    text-align: right; }
    footer .footerExcerpt h3 {
      opacity: 0.5;
      font-size: 1.66rem;
      margin: 10px 0 0; }
    footer .footerExcerpt p {
      margin: 10px 0 20px; }

@media (max-width: 1600px) {
  body main .mainRing {
    transform-origin: 50% 30%; }
    body main .mainRing .subRing {
      width: 30%;
      height: 30%;
      font-size: 0.2em;
      transform: translateX(-50%); }
      body main .mainRing .subRing ~ .ringsExcerpt {
        font-size: 0.2em; }
        body main .mainRing .subRing ~ .ringsExcerpt a {
          top: 52%; } }
@media (max-width: 1366px) {
  body main .mainRing .subRing.active ~ .ringsExcerpt p {
    font-size: 0.8em; }
  body main .mainRing .subRing.active ~ .ringsExcerpt a {
    width: 50px;
    height: 50px;
    top: 55%;
    line-height: 50px;
    font-size: 0.8em; }
  body main .mainRing .subRing#audioVideo.active h2:before, body main .mainRing .subRing#heliumBaloons.active h2:before, body main .mainRing .subRing#eventFurnitures.active h2:before, body main .mainRing .subRing#eventAgency.active h2:before, body main .mainRing .subRing#integrationClub.active h2:before {
    content: '';
    display: block;
    width: 28%;
    height: 28%;
    position: absolute;
    top: 28%;
    left: 35%;
    opacity: 1;
    background-size: contain; }
  body footer .footerList {
    width: 50%; }
    body footer .footerList ul li {
      padding: 0 1%; }
  body footer .footerExcerpt {
    width: 22%; } }
@media (max-width: 1024px) {
  header {
    font-size: 1.2em; }

  main .mainRing .subRing {
    font-size: 0.2em; }
    main .mainRing .subRing#audioVideo.active h2:before, main .mainRing .subRing#heliumBaloons.active h2:before, main .mainRing .subRing#eventFurnitures.active h2:before, main .mainRing .subRing#eventAgency.active h2:before, main .mainRing .subRing#integrationClub.active h2:before {
      width: 40px;
      height: 40px;
      top: 30px;
      left: 34%;
      background-size: contain; }
    main .mainRing .subRing.active ~ .ringsExcerpt {
      font-size: 0.18em; }
      main .mainRing .subRing.active ~ .ringsExcerpt a {
        line-height: 45px;
        width: 45px;
        height: 45px; } }
@media (max-width: 768px) {
  body footer .footerList {
    width: 50%; }
    body footer .footerList ul {
      padding-left: 0; }
      body footer .footerList ul li {
        width: 12%;
        margin: 0 1%;
        padding: 0; }
        body footer .footerList ul li img {
          width: 100%;
          height: auto; }
  body footer .footerExcerpt {
    font-size: 0.8em;
    width: 22%; }
    body footer .footerExcerpt h3 {
      font-size: 1.1rem; } }
@media (max-width: 600px) {
  body {
    padding-bottom: 0; }
    body header .menuButton {
      display: block; }
    body header ul.mainMenu {
      height: 0;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0; }
      body header ul.mainMenu li {
        height: 0px;
        overflow: hidden; }
    body header ul.mainMenu.expanded {
      float: none; }
      body header ul.mainMenu.expanded a {
        display: block; }
      body header ul.mainMenu.expanded li {
        display: block;
        text-align: center;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: #000;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0; }
        body header ul.mainMenu.expanded li.active {
          color: #f00; }
          body header ul.mainMenu.expanded li.active:before {
            display: none; }
    body main .mainRing .subRing {
      width: 180px;
      height: 180px;
      margin: 0 4% 25px;
      display: inline-block;
      position: relative;
      vertical-align: bottom; }
      body main .mainRing .subRing#audioVideo, body main .mainRing .subRing#heliumBaloons, body main .mainRing .subRing#eventFurnitures, body main .mainRing .subRing#eventAgency, body main .mainRing .subRing#integrationClub {
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        transform: none; }
      body main .mainRing .subRing.active h2 {
        margin: 0;
        padding: 60% 10% 20%; }
    body main .mainRing .ringsExcerpt {
      display: none; }
    body footer {
      height: auto;
      position: relative; }
      body footer .footerList {
        width: 100%;
        padding: 15px 0;
        display: block; }
        body footer .footerList ul li {
          width: 12%;
          padding: 0 1%; }
      body footer .footerExcerpt {
        width: 46%;
        margin: 0 0.5%;
        padding: 0 0 0 2%;
        display: inline-block; }
        body footer .footerExcerpt h3 {
          font-size: 1.2em; }
        body footer .footerExcerpt#magazyn {
          text-align: left; }
        body footer .footerExcerpt#kontakt {
          text-align: right; } }
@media (max-width: 480px) {
  footer {
    height: auto;
    text-align: center; }
    footer .footerList ul li img {
      width: 100%;
      height: auto; }
    footer .footerExcerpt {
      width: 96%;
      margin: 0;
      padding: 0 2%; }
      footer .footerExcerpt#magazyn {
        text-align: center; }
      footer .footerExcerpt#kontakt {
        text-align: center; } }
@media (max-width: 320px) {
  body main .mainRing .subRing {
    width: 100px;
    height: 100px;
    font-size: 0.12em; }
  body footer .footerList {
    float: none;
    width: 100%;
    display: block; }
    body footer .footerList ul {
      height: 100%; }
  body footer .footerExcerpt {
    width: 100%;
    margin: 0;
    display: block; }
    body footer .footerExcerpt h3, body footer .footerExcerpt p {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
