@import 'boilerplate';
@import 'animations';
@import 'mixins';

body{
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	font-family: 'Bebas Neue', Arial, sans-serif;
}

.wrapper{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.clr{
	clear:both;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	font-size: 1.66rem;
	background: #000;

	img{
		height: 100%;
		margin-left: 30px;
	}

	ul.mainMenu{
		float: right;
		height: 100%;
		margin: 0;
		padding: 0;
		a{
			display: inline-block;
		}

		li{
			display: inline-block;
			position: relative;
			width: auto;
			height: 100%;
			line-height: 90px;

			margin: 0 10px;

			&.active{
				color: #f00;

				&:before{
					content: '';
					width: 10px;
					height: 10%;
					position: absolute;
					top: 20px;
					left: 48%;
					background: #f00;
					border-radius: 50%;
				}
			}
		}
	}
}

body{
	background: url('../img/background.jpg') repeat;
	width: 100%;
	padding-bottom: 120px;
	content: '';
	@include transition(1s, linear);

	&.audioVideo{
		background: url('../img/audioVideo_background.jpg');
		background-size: cover;
		background-position: top center;
		@include transition(0.5s, linear);
	}
	&.eventAgency{
		background: url('../img/eventAgency_background.jpg');
		background-size: cover;
		background-position: top center;
		@include transition(0.5s, linear);
	}
	&.eventFurnitures{
		background: url('../img/eventFurnitures_background.jpg');
		background-size: cover;
		background-position: top center;
		@include transition(0.5s, linear);
	}
	&.heliumBaloons{
		background: url('../img/heliumBaloons_background.jpg');
		background-size: cover;
		background-position: top center;
		@include transition(0.5s, linear);
	}
	&.integrationClub{
		background: url('../img/integrationClub_background.jpg');
		background-size: cover;
		background-position: top center;
		@include transition(0.5s, linear);
	}
}

main{
	margin-top: 90px;

	.mainRing {
	    width:100%;
		position: relative;
	    margin: 0 auto;
	    font-size:100px;
		text-align: center;
	    line-height:1;
	    // animation: circle 2s ease-in-out 1;
	    // transform-origin: 50% 250px;

		.subRing {
		    // animation: inner-circle 2s ease-in-out 1;
			position: absolute;
			width: 250px;
			height: 250px;
			background: #000;
			border-radius: 50%;
			font-size: 1.86rem;
			z-index: 10;
		    transform: translateX(-50%);

			&.active{
			   background: #f00;

			   h2{
				   margin-top: 30px;
				   @include transition(0.3s, ease-in-out);
			   }
			}

			&:hover{
				cursor: pointer;
			}

			h2{
				padding: 40% 20%;
				margin-top: 0;
				@include transition(0.3s, ease-in-out);

				&:before{
					background: none;
					opacity: 0;
					content: '';
					display: block;
					position: absolute;
				}
			}

			&#audioVideo{
				top: 3%;
				left: 27%;

			   &.active h2:before{
				@include beforeContent(50px, 50px, 50px);
				@include transition(0.5s, ease-in-out);
				background: url('../img/audioVideo.jpg') no-repeat bottom center;
			   }
			}
			&#heliumBaloons{
				top: 3%;
				left: 73%;

			   &.active h2:before{
				@include beforeContent(50px, 50px, 50px);
				@include transition(0.5s, ease-in-out);
				background: url('../img/heliumBaloons.jpg') no-repeat bottom center;
			   }
			}
			&#eventFurnitures{
				top: 42%;
				left: 87.5%;

			   &.active h2:before{
				@include beforeContent(50px, 50px, 50px);
				@include transition(0.5s, ease-in-out);
				background: url('../img/eventFurnitures.jpg') no-repeat bottom center;
			   }
			}
			&#eventAgency{
				bottom: 0;
				left: 50%;

			   &.active h2:before{
				@include beforeContent(50px, 50px, 50px);
				@include transition(0.5s, ease-in-out);
				background: url('../img/eventAgency.jpg') no-repeat bottom center;
			   }
			}
			&#integrationClub{
				top: 42%;
				left: 12.5%;

			   &.active h2:before{
				@include beforeContent(50px, 50px, 50px);
				@include transition(0.5s, ease-in-out);
				background: url('../img/integrationClub.jpg') no-repeat bottom center;
			   }
			}
		}
	   	.ringsExcerpt{
	   		font-size: 1.33rem;
			position: absolute;
			z-index: 5;
			width: 75%;
			height: 75%;
			margin: 12.5%;
			border-radius: 50%;
			border: 1px solid rgba(255,255,255, 0.5);

			p{
				height: 30%;
				width: 45%;
				margin: 25% 27.5%;
			}

		    a{
			   background: #f00;
			   position: absolute;
			   left: 50%;
			   transform: translateX(-50%);
			   top: 65%;
			   width: 80px;
			   height: 80px;
			   border-radius: 50%;
			   text-align: center;
			   display: block;
			   line-height: 80px;
		   }
	   	}
	}
}

footer{
	background: rgba(0,0,0, 0.6);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;

	div[class^="footer"]{
		display: inline-block;
		vertical-align: middle;
	}
	.footerList{
		width: 65%;
		margin: 0;

		ul{
			height: 100%;

			li{
				list-style: none;
				display: inline-block;
				padding: 0 3%;
			}
		}
	}
	.footerExcerpt{
		width: 15%;
		padding: 0 1%;
		text-align: right;

		h3{
			opacity: 0.5;
			font-size: 1.66rem;
			margin: 10px 0 0;
		}
		p{
			margin: 10px 0 20px;
		}
	}
}

@media (max-width: 1600px){
	main{
		.mainRing {
	    	transform-origin: 50% 30%;

			.subRing {
				width: 30%;
				height: 30%;
				font-size: 0.9pc;
			    transform: translateX(-50%);

			}
		   	.ringsExcerpt{

			    a{
			   }
		   	}
		}
	}
}

@media (max-width: 600px) {
	main{
		.mainRing{
			.subRing{
				width: 40%;
				margin: 0 4%;
				display: inline-block;
				position: relative;

				&#audioVideo,
				&#heliumBaloons,
				&#eventFurnitures,
				&#eventAgency,
				&#integrationClub{
					top: auto;
					left: auto;
					bottom: auto;
					right: auto;
					transform: none;

				   &.active h2:before{
					@include beforeContent(50px, 50px, 50px);
					@include transition(0.5s, ease-in-out);
					background: url('../img/integrationClub.jpg') no-repeat bottom center;
				   }
				}
			}
			.ringsExcerpt{
				display: none;
		   	}
		}
	}

	footer{
		.footerList{

		}
		.footerExcerpt{
			width: 48%;
			margin: 0 0.5%;
			padding: 0;
			display: inline-block;

			&#magazyn{
				text-align: left;
			}
			&#kontakt{
				text-align: right;
			}
		}
	}
}

@media (max-width: 480px) {
	footer{
		height: auto;
		text-align: center;

		.footerList{

		}
		.footerExcerpt{

		}
	}
}

@media (max-width: 320px) {
	footer{

		.footerList{
			float: none;
			width: 100%;
			display: block;

			ul{
				height: 100%;
			}
		}
		.footerExcerpt{
			width: 100%;
			margin: 0;
			text-align: center;
			display: block;
		}
	}
}
